body {
    font-size:28px;
}

h1{
    text-align: center;
}

ol, ul{
    text-shadow: 2px 5px 4px green;
}

*{
    background-color:aqua;
}

*::selection{
    background-color:white;
}

li.Apple{
    text-transform:lowercase;
}

li.Apple#special{
    color:blanchealmond;
    background-color:violet;
}
