body {
    font-size:28px;
}

h1{
    text-align: center;
}

ol, ul{
    text-shadow: 2px 5px 4px green;
}

*{
    background-color:aqua;
}

*::selection{
    background-color:white;
}

li.Apple#special{
    color:blanchealmond;
    background-color:violet;
}

li.Apple{
    text-transform:lowercase;
}

.Apple{
    font-family:Courier New, 'Courier New', Courier, monospace;
}

*[class]{
    text-decoration-line:overline;
    text-decoration-thickness:5px;
}

li[id]{
    text-decoration-line:underline;
}
